@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

#scoreboard {
  width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
}

.scoreboard-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 25px;
  padding-right: 25px;
}

.scoreboard-title div {
  font-weight: 600;
  color: #1d80ac;
  font-size: 16px;
}



/* Kill Feed
-----------------------------------------------------------------------------*/
.kill-feed {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
  width: 420px;
  background: #efefef;
  margin-right: 25px;
  box-sizing: border-box;
  padding: 10px 15px;
}

.kill-feed-header {
  padding-bottom: 10px;
  border-bottom: 1px dashed #000;
  margin-bottom: 15px;
}

.kill-feed li {
  margin-bottom: 5px;
}


/* Message types
-----------------------------------------------------------------------------*/
.message-type--gameStarted,
.message-type--gameUnpaused,
.message-type--scoreboardConnected {
  color: #1ec202;
}

.message-type--gamePaused {
  color: #ffac30;
}

.message-type--gameEnded {
  color: #ff1612;
}

.message-type--playerQuestCompleted {
  color: #1d80ac;
}



/* Scoreboard stuff
-----------------------------------------------------------------------------*/
.player-list {
  flex-grow: 2;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding-left: 25px;
  padding-right: 25px;
}

.player:nth-child(odd) {
  background-color: #efefef;
}

.player-rank {
  width: 45px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #1d80ac;
}
.player-name {
  font-weight: 600;
  flex-grow: 2;
}

.player-titles {
  width: 250px;
}
.player-score {
  width: 110px;
}


.playerCount {
  padding: 15px;
  font-weight: bold;
}


/**/
@media (max-width: 1280px) {
  #scoreboard {
    flex-direction: column;
    width: 100%;
  }

  .mainHeader-container {
    width: 100%;
  }

  .kill-feed {
    margin-bottom: 35px;
    width: 100%;
  }
}

